![portada](../images/portada.jpg)

## ¬øQu√© es Streamlit?   

Streamlit is an open-source app framework for Machine Learning and Data Science teams. Create beautiful data apps in hours, not weeks. All in pure Python.    

As always -->  https://streamlit.io/

Cuanto m√°s leas la documentaci√≥n, menos tendr√°s que buscar en google maifren ü•∏

## ¬øQu√© vamos a ver con streamlit? 
- Insertar im√°genes
- Hacer gr√°ficos propios de streamlit
- Integraci√≥n de gr√°ficos con plotly
- Integraci√≥n de mapas de folium
- Renderizado HTML

In [7]:
import pandas as pd
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import plotly.express as px

In [8]:
#nltk.download('vader_lexicon')

In [9]:
#Un par de funciones que voy a utilizar para sacar la polaridad y sacar orden de la frase
def polarity(x):
    sia = SentimentIntensityAnalyzer()
    polarity = sia.polarity_scores(x)
    pol = polarity['compound']
    return pol

def renombra_id(x):
    x = f"Frase {x}"
    return x

In [10]:
#Proceso de limpiado de los datos para dejarlos como los necesito

In [ ]:
df = pd.read_pickle("./adventure_pickle_CLEAN.pkl")
df.reset_index(drop=True,inplace=True)
df.rename(columns={'Character':'character_name',"Dialogue":"dialogue"},inplace=True)
df["polarity"] = df["dialogue"].apply(polarity)
df = df.drop(columns=["Episode", "Line", "Action"])

In [ ]:
#Lo exporto a pickle para leerlo desde streamlit
df.to_pickle("clean.pkl")

In [11]:
#Lo cargo again porque no quiero ejecutar la celda de arriba que tarda en hacer la polaridad
df=pd.read_pickle("../data/clean.pkl")

In [12]:
df.head()

,character_name,dialogue,polarity,frase
0,banana guard,"Ah, this is hard to watch. I'm gonna look away.",-0.1027,Frase 1
1,banana guard,This place could use a scarecrow.,-0.2023,Frase 2
2,banana guard,"Uh, I-I said this place could use a scarecrow.",-0.2023,Frase 3
3,banana guard,She slapped my butt!,0.0000,Frase 4
4,banana guard,[' I‚Äôm glad you brought this matter to the aut...,0.4810,Frase 5

In [13]:
#Prueba de data para cuando filtremos por un solo personaje para hacer el line chart

In [18]:
prueba = df[(df["character_name"] == "finn")]
prueba = prueba.reset_index(drop=True)
prueba["frase"] = prueba.index+1
prueba["frase"] = prueba.frase.apply(renombra_id)
prueba.head()

,character_name,dialogue,polarity,frase
0,finn,"Hey Princess Bubblegum, when we bring the dea...",-0.6486,Frase 1
1,finn,Old Mr. Cream Puff?,0.0000,Frase 2
2,finn,"Something's happening! Come on, come on...",0.0000,Frase 3
3,finn,Algebraic!,0.0000,Frase 4
4,finn,"Hey, look, the decorpsinator serum is working!",0.0000,Frase 5

Como lo vamos a hacer con plotly y luego lo visualizamos en streamlit dejo doc y lo hago aqu√≠ para luego pasarlo a streamlit
https://plotly.com/python/line-charts/

In [14]:
#Preparamos datos prueba para bar chart que cuenta las frases de cada personaje (modo streamlit)
data_c = df.groupby("character_name").agg({"character_name":'count'}).rename(columns={"character_name":"character_name", "character_name":"n√∫mero de frases"}).reset_index()
data_c.head()

  character_name  n√∫mero de frases
0   banana guard               145
1          betty                40
2            bmo               672
3           cake                50
4   cinnamon bun               116

In [ ]:
# Para ejemplos de bar charts agrupo por personaje y hago la media de su polaridad
# Ojo que streamlit necesita un formato concreto para los gr√°ficos, solamente la columna que queremos mostrar 
# Y la X debe ser el index

https://docs.streamlit.io/en/stable/develop_streamlit_components.html

In [ ]:
import codecs
f=codecs.open("../data/mapa.html", 'r')
#print(f.read())